.orders.index_page
  .container
    .row.xcm_index_header
      %a{:role => "button", :class => "btn btn-success ", :href => admin_lb_orders_path } 全部 
      %a{:role => "button", :class => "btn btn-success ", :href => admin_lb_orders_path(:status => :paid) } 已付
      %a{:role => "button", :class => "btn btn-success ", :href => admin_lb_orders_path(:status => :not_paid) } 未付
      %a{:role => "button", :class => "btn btn-success ", :href => admin_lb_orders_path(:status => :delivering) } 已送
      %a{:role => "button", :class => "btn btn-success ", :href => admin_lb_orders_path(:status => :closed) } 送完 
    .row
      %ul.list-group.xcm-list-group
        - @orders.each do |b|
          %li.list-group-item
            .xcm_item_icon
              = b.order_num
              = b.status
            .xcm_item_name_and_desc
              .xcm_item_name
                = b.lb_product.name
                X
                = b.quantity
                \/
                = b.price / 100.0
              .xcm_item_desc
                = b.user.phone
                -
                = b.user.address

            .xcm_actions.pull-right
              - if b.paid?
                %a{:role => "button", :class => "btn btn-default popup", "data-remote-url" => edit_admin_lb_order_path(b) }= "派单"
              - if b.delivering?
                = link_to "送水完成", done_deliver_admin_lb_order_path(b), :method => :patch, :class => "btn btn-default"

            .clearfix

    = paginate @orders

