= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :login
    %br/
    = f.text_field :login
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :salt
    %br/
    = f.text_field :salt
  .field
    = f.label :encrypted_password
    %br/
    = f.text_field :encrypted_password
  .field
    = f.label :last_login_at
    %br/
    = f.text_field :last_login_at
  .field
    = f.label :last_login_ip
    %br/
    = f.text_field :last_login_ip
  .field
    = f.label :source
    %br/
    = f.text_field :source
  .actions
    = f.submit
