!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Setting.title || Setting.sitename
    = stylesheet_link_tag    'admin', media: 'all', turbolinks: true
    = javascript_include_tag 'admin', turbolinks: true
    = csrf_meta_tags
  %body
    = nav_bar :inverse => true, :fixed => :top, :brand => Setting.sitename, :responsive => true do
      = menu_group do
        = menu_item "Root", ""

    .admin
      .loading_indicator.hide
        = fa_icon "spinner 4x spin"
      .sidebar{"data-turbolinks-permanent" => true}
        = sidebar_item_helper("用户管理", admin_users_path,   :user, :users)
        = sidebar_item_helper("管理员管理", admin_staffs_path,   :user, :users)

        -#= sidebar_item_helper("系统设置", admin_settings_path, :plus, :settings)

      .container-fluid
        -#= breadcrumb
        = yield
        #overlay
          #overlay_container

