!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0,maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}

    %title= @title || Setting.title || Setting.sitenme
    = stylesheet_link_tag    'wechat', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'wechat', 'data-turbolinks-track' => true
    = javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" 

    = csrf_meta_tags

  %body
    .loading_indicator.hide
      = fa_icon "spinner 4x spin"
    .container-fluid
      = yield

